<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slafe.name %>
</p>

<p>
  <strong>Fill murray:</strong>
  <%= @slafe.fill_murray %>
</p>

<p>
  <strong>Place cage:</strong>
  <%= @slafe.place_cage %>
</p>

<p>
  <strong>Custom header:</strong>
  <%= @slafe.custom_header %>
</p>

<p>
  <strong>Custom header:</strong>
  <%= @slafe.custom_header %>
</p>

<%= link_to 'Edit', edit_slafe_path(@slafe) %> |
<%= link_to 'Back', slaves_path %>
